 <template>
  <div id="ClienteHome">
    <v-row>
      <v-col class="pl-0 pr-0">
        <v-card
          class="fondo rounded-b-0"
          flat
          min-height="400"
          align="center"
          justify="center"
        >
          <v-row>
            <v-col class="mt-16">
              <div
                  class="d-flex justify-center pb-4"
                  style="font-size: 2rem !important"
                >
                  <v-img :src="require('../../../assets/logo.png')" max-width="150"> </v-img>
                </div>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col sm="8" cols="11">
              <v-text-field
                label="Ingrese su comuna"
                v-model="comuna"
                solo
                dense
                readonly
                prepend-inner-icon="mdi-map-marker"
              ></v-text-field>
            </v-col>
            <v-col sm="2" cols="11">
              <v-btn
                block
                class="c-primary-button"
                dark
                height="39px"
                @click="
                  $router
                    .push({
                      name: 'Cliente.Tiendas',
                    })
                    .catch(() => {})
                "
              >
                Buscar
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col xl="6" md="4">
        <v-card>
          <v-img
            src="https://d20ga1agp72kf9.cloudfront.net/bewe/blog/2018-07-articulos-de-peluqueria-full.jpg"
            height="200px"
          ></v-img>

          <v-card-title> ¿Te gustaria trabajar con nosotros? </v-card-title>

          <v-card-subtitle>
            Publica tu negocio en nuestro sitio web y te ayudaremos a crecer.
          </v-card-subtitle>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="c-primary-text" icon @click="show = !show">
              <v-icon>mdi-arrow-right</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col xl="6" md="4">
        <v-card height="100%" class="d-flex flex-no-wrap justify-space-between">
          <div class="align-self-center">
            <v-card-title class="text-h5">¿Necesitas ayuda?</v-card-title>
            <v-card-subtitle>
              Entra a la sección de preguntas frecuentes para poder ayudarte.
            </v-card-subtitle>
            <v-card-actions>
              <v-btn class="ml-2 mt-5 c-primary-text" outlined rounded small>
                <p class="ma-0">Preguntas frecuentes</p>
                <v-icon>mdi-play</v-icon>
              </v-btn>
            </v-card-actions>
          </div>
          <v-avatar class="ma-3 align-self-center" size="80" tile>
            <v-img class="hidden-xs-only" src="@/assets/pregunta1.png"></v-img>
          </v-avatar>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
 
 <script>
export default {
  name: "ClienteInicio",
  data: function () {
    return {
      comuna: "Temuco",
      show: false,
    };
  },
};
</script>
 
 <style>
.fondo {
  background-image: url("https://diariodesign.com/wp-content/uploads/2017/10/peluqueria-parole-bilbao-diariodesign-3.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0px;
}
.fondo:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
</style>