<template>
  <div>
    <Loader v-if="loading" class="ma-4"></Loader>
    <v-row v-else>
      <v-col md="12" class="pa-8">
        <v-card elevation="24" class="pa-8">
          <v-card-title class="text-button" style="font-size: 1.5rem !important"
            >Reservas</v-card-title
          >
          <v-sheet height="64">
            <v-toolbar flat>
              <v-btn
                outlined
                class="mr-4"
                color="grey darken-2"
                @click="setToday"
              >
                Hoy
              </v-btn>
              <v-btn fab text small color="grey darken-2" @click="prev">
                <v-icon small> mdi-chevron-left </v-icon>
              </v-btn>
              <v-btn fab text small color="grey darken-2" @click="next">
                <v-icon small> mdi-chevron-right </v-icon>
              </v-btn>
              <v-toolbar-title v-if="$refs.calendar">
                {{ $refs.calendar.title }}
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-menu bottom right>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    outlined
                    color="grey darken-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <span>{{ typeToLabel[type] }}</span>
                    <v-icon right> mdi-menu-down </v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="type = 'day'">
                    <v-list-item-title>Día</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = 'week'">
                    <v-list-item-title>Semana</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = 'month'">
                    <v-list-item-title>Mes</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = '4day'">
                    <v-list-item-title>4 dias</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-toolbar>
          </v-sheet>
          <v-sheet height="800">
            <v-calendar
              ref="calendar"
              v-model="focus"
              color="primary"
              :events="events"
              :event-color="getEventColor"
              :type="type"
              @click:event="showEvent"
              @click:more="viewDay"
              @click:date="viewDay"
            ></v-calendar>
            <v-menu
              v-model="selectedOpen"
              :close-on-content-click="false"
              :activator="selectedElement"
              offset-x
              max-width="400px"
            >
              <v-card color="grey lighten-4" flat>
                <v-toolbar :color="selectedEvent.color" dark>
                  <v-toolbar-title
                    v-html="selectedEvent.name"
                  ></v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <div class="pb-1">Servicios:</div>
                  <div class="pl-2 pb-2">
                    <strong>{{ selectedEvent.servicios }}</strong>
                  </div>
                  <div>
                    La solicitud para el dia
                    {{ selectedEvent.start | moment("DD/MM/YYYY") }}
                  </div>
                  <div>
                    en el horario de
                    {{ selectedEvent.start | moment("hh:mm") }} hasta las
                    {{ selectedEvent.end | moment("hh:mm") }}
                  </div>
                  <div>
                    se encuentra: <strong>{{ selectedEvent.estado }}.</strong>
                  </div>
                </v-card-text>
              </v-card>
            </v-menu>
          </v-sheet>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ServiciosService from "../../../services/servicios.service";
import NotificationMixin from "../../../mixins/notification.mixin";
import Loader from "../../../components/loaders/circular";

export default {
  name: "Reservas",
  components: { Loader },
  mixins: [NotificationMixin],
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  data: () => ({
    cliente_id: "",
    focus: "",
    type: "month",
    typeToLabel: {
      month: "Mes",
      week: "Semana",
      day: "Día",
      "4day": "4 dias",
    },
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    loading: true,
    events: [],
    colors: [
      "blue",
      "indigo",
      "deep-purple",
      "cyan",
      "green",
      "orange",
      "grey darken-1",
    ],
    names: [
      "Meeting",
      "Holiday",
      "PTO",
      "Travel",
      "Event",
      "Birthday",
      "Conference",
      "Party",
    ],
  }),
  mounted() {
    if (this.existCliente()) {
      this.cliente_id = this.currentUser.user.id;
      ServiciosService.getReservasCliente(this.cliente_id).then((data) => {
        this.events = data;
        this.loading = false;
      });
    }
  },
  methods: {
    existCliente() {
      if (this.currentUser != null) {
        if (this.currentUser.user.type == 2) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        requestAnimationFrame(() =>
          requestAnimationFrame(() => (this.selectedOpen = true))
        );
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        requestAnimationFrame(() => requestAnimationFrame(() => open()));
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>

<style>
</style>