<template>
  <div class="pa-8">
    <v-row>
      <v-col cols="12">
        <v-card class="pa-8 mb-8 rounded-xl" elevation="24">
          <div class="text-h4 text-uppercase">Bienvenido {{ getNombre() }}</div>
          <div class="mt-4 pa-4 text-overline text-justify">
            A continuación podras ver las estadisticas relacionadas a las ventas
            de tu establecimiento, ademas, del estado de su plan contratado, en
            caso de no poseer alguno consulte nuestros planes.
          </div>
          <v-card-actions>
            <v-btn
              depressed
              text
              class="primary-text"
              @click="
                $router.push({ name: 'Propietario.Planes' }).catch(() => {})
              "
              :disabled="!hasEstablecimiento()"
              >ver planes</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <Loader v-if="loading"></Loader>
    <div v-else>
      <v-row v-if="hasEstablecimiento()">
        <v-col cols="12" md="3"
          ><v-card
            class="pa-8 rounded-xl"
            elevation="24"
            :color="
              !establecimientoIsActive() ? 'red  lighten-1' : 'green lighten-1'
            "
            dark
          >
            <div class="text-center text-h4">Estado</div>
            <div
              class="text-button text-center mt-4"
              v-if="!establecimientoIsActive()"
            >
              Inactivo
            </div>
            <div class="text-button text-center mt-4" v-else>
              {{ calcularDias() }} dias
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" md="3"
          ><v-card class="pa-8 rounded-xl" elevation="24">
            <div class="text-center text-h4">Total</div>
            <div class="text-button text-center mt-4">
              $ {{ estadisticas.total }}
            </div>
          </v-card></v-col
        >
        <v-col cols="12" md="3"
          ><v-card class="pa-8 rounded-xl" elevation="24">
            <div class="text-center text-h4">Mensual</div>
            <div class="text-button text-center mt-4">
              $ {{ estadisticas.mes }}
            </div>
          </v-card></v-col
        >
        <v-col cols="12" md="3"
          ><v-card class="pa-8 rounded-xl" elevation="24">
            <div class="text-center text-h4">Dia</div>
            <div class="text-button text-center mt-4">
              $ {{ estadisticas.dia }}
            </div>
          </v-card></v-col
        >
        <v-col cols="12" md="12"
          ><v-card class="pa-8 rounded-xl" elevation="24">
            <div class="text-center text-h4">Reporte semanal</div>
            <GChart
              type="ColumnChart"
              :data="estadisticas.reporte_semanal"
              :options="chartOptions"
              v-if="estadisticas.reporte_semanal.length > 0"
            />
            <div v-else class="text-button text-center mt-4">
              El reporte semanal no se encuentra disponible.
            </div>
          </v-card></v-col
        >
        <v-col cols="12" md="12"
          ><v-card class="pa-8 rounded-xl" elevation="24">
            <div class="text-center text-h4">Reporte {{ mes.nombre }}</div>
            <v-row class="d-flex justify-center mt-2">
              <v-col cols="4">
                <v-select
                  :items="meses"
                  label="Mes"
                  v-model="mes"
                  :item-text="(item) => item.nombre"
                  :item-value="(item) => item"
                  @change="actualizarEstadisticas"
                ></v-select>
              </v-col>
            </v-row>
            <GChart
              type="ColumnChart"
              :data="estadisticas.reporte_mensual"
              :options="chartOptions"
              v-if="estadisticas.reporte_mensual.length > 0"
            />
            <div v-else class="text-button text-center mt-4">
              No existen reportes para el mes solicitado.
            </div>
          </v-card></v-col
        >
      </v-row>
      <v-row v-else>
        <v-col cols="12"
          ><v-card
            class="pa-8 rounded-xl text-button text-center"
            elevation="24"
            >No posee ningun establecimiento ingresado en el sistema.</v-card
          ></v-col
        >
      </v-row>
    </div>
  </div>
</template>

<script>
import userMixinVue from "../../../mixins/user.mixin.vue";
import EstablecimientoService from "../../../services/establecimiento.service";
import Loader from "../../../components/loaders/circular";
import { GChart } from "vue-google-charts";

export default {
  name: "Inicio",
  mixins: [userMixinVue],
  components: {
    Loader,
    GChart,
  },
  data() {
    return {
      estadisticas: "",
      loading: true,
      mes: "",
      meses: [
        {
          numero: 1,
          nombre: "Enero",
        },
        {
          numero: 2,
          nombre: "Febrero",
        },
        {
          numero: 3,
          nombre: "Marzo",
        },
        {
          numero: 4,
          nombre: "Abril",
        },
        {
          numero: 5,
          nombre: "Mayo",
        },
        {
          numero: 6,
          nombre: "Junio",
        },
        {
          numero: 7,
          nombre: "Julio",
        },
        {
          numero: 8,
          nombre: "Agosto",
        },
        {
          numero: 9,
          nombre: "Septiembre",
        },
        {
          numero: 10,
          nombre: "Octubre",
        },
        {
          numero: 11,
          nombre: "Noviembre",
        },
        {
          numero: 12,
          nombre: "Diciembre",
        },
      ],
      chartOptions: {
        chart: {
          title: "Company Performance",
          subtitle: "Sales, Expenses, and Profit: 2014-2017",
        },
        legend: { position: "left" },
      },
    };
  },
  methods: {
    getNombre() {
      if (this.user.propietario != null) {
        return (
          this.user.propietario.nombre +
          " " +
          this.user.propietario.apellido_paterno
        );
      } else {
        return (
          this.user.personal.nombre + " " + this.user.personal.apellido_paterno
        );
      }
    },
    calcularDias() {
      var now = this.$moment();
      var day = this.$moment(this.user.establecimiento.duracion_plan);

      return day.diff(now, "days");
    },
    async obtenerEstadisticas() {
      EstablecimientoService.estadisticas(this.user.establecimiento.id, {
        mes: this.mes.numero,
      }).then((data) => {
        this.estadisticas = data;
        this.loading = false;
      });
    },
    async actualizarEstadisticas() {
      this.loading = true;
      await this.obtenerEstadisticas();
    },
  },
  created() {
    var d = new Date();
    var month = d.getMonth() + 1;

    this.mes = this.meses.find((element) => element.numero === month);
  },
  mounted() {
    if (this.hasEstablecimiento()) {
      this.obtenerEstadisticas();
    } else {
      this.loading = false;
    }
  },
};
</script>

<style>
</style>