<template>
  <div class="ma-8">
    <!-- Start. store dialog -->
    <PersonalDialog
      v-if="storeState"
      :dialog="storeState"
      :isEdit="false"
      :idEstablecimiento="user.establecimiento.id"
      @updateData="update"
      @close="storeState = false"
    ></PersonalDialog>
    <!-- end. store dialog -->

    <!-- Start. detail dialog -->
    <PersonalDetailDialog
      v-if="detailState"
      :dialog="detailState"
      :data="currentData"
      @close="detailState = false"
    ></PersonalDetailDialog>
    <!-- end. detail dialog -->

    <!-- Start. edit dialog -->
    <PersonalDialog
      v-if="editState"
      :dialog="editState"
      :isEdit="true"
      :data="currentData"
      @editData="edit"
      @close="editState = false"
    ></PersonalDialog>
    <!-- end. edit dialog -->

    <!-- Start. delete dialog -->
    <DeleteDialog
      v-if="deleteState"
      :message="
        'Esta seguro de eliminar a, Nombre: ' +
        currentData.nombre +
        ' ' +
        currentData.apellido_paterno +
        ', ID: ' +
        currentData.id +
        '.'
      "
      :dialog="deleteState"
      @close="deleteState = false"
      @confirm="remove"
    ></DeleteDialog>
    <!-- End. delete dialog -->

    <v-row>
      <v-col>
        <v-card class="pa-8 rounded-xl" elevation="24">
          <v-row>
            <v-col cols="12" :md="(user.type == 1) ? 9 : 12">
              <v-text-field
                placeholder="Buscar"
                append-icon="mdi-magnify"
                outlined
                hide-details
                v-model="filter"
              ></v-text-field>
            </v-col>
            <v-col md="3" v-if="user.type == 1">
              <v-btn
                class="primary-button"
                dark
                x-large
                depressed
                block
                @click="storeState = true"
              >
                Agregar personal
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="mt-8">
      <v-col>
        <Loader v-if="loading"></Loader>
        <div v-else>
          <div v-if="personal.length != 0">
            <v-card class="pa-8 rounded-xl" elevation="24">
              <v-simple-table>
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Rut</th>
                    <th class="text-left">Nombre</th>
                    <th class="text-left">Especialidad</th>
                    <th class="text-left">Operaciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in filterByName" :key="index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.rut }}</td>
                    <td>{{ item.nombre }} {{ item.apellido_paterno }}</td>
                    <td>{{ item.especialidad }}</td>
                    <td>
                      <v-btn
                        icon
                        color="primary"
                        @click="openDetailDialog(item)"
                      >
                        <v-icon>mdi-eye</v-icon>
                      </v-btn>
                      <v-btn :disabled="user.type != 1" icon color="success" @click="openEditDialog(item)">
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn :disabled="user.type != 1" icon color="error">
                        <v-icon @click="openDeleteDialog(item)"
                          >mdi-delete</v-icon
                        >
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-card>
          </div>
          <div v-else>
            <v-card elevation="24" class="rounded-xl">
              <div class="pa-8 text-button text-center">
                No se encontro ningun personal registrado para este
                establecimiento.
              </div>
            </v-card>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import PersonalService from "../../../services/personal.service";
import DeleteDialog from "../../../components/dialogs/delete";
import PersonalDialog from "../../../components/dialogs/personal.form";
import PersonalDetailDialog from "../../../components/dialogs/personal.detail";
import Loader from "../../../components/loaders/circular";
import UserMixin from "../../../mixins/user.mixin";
import NotificationMixin from "../../../mixins/notification.mixin";

export default {
  components: {
    DeleteDialog,
    PersonalDialog,
    PersonalDetailDialog,
    Loader,
  },
  mixins: [UserMixin, NotificationMixin],
  name: "Personal",
  data() {
    return {
      storeState: false,
      deleteState: false,
      editState: false,
      detailState: false,
      loading: true,
      currentData: "",
      currentIndex: 0,
      personal: [],
      filter: "",
    };
  },
  methods: {
    update(data) {
      this.personal.push(data);
    },
    search() {
      let obj = this.personal.find((x) => x.id === this.currentData.id);
      let index = this.personal.indexOf(obj);
      return index;
    },
    edit(data) {
      this.$set(this.personal, this.search(), data);
    },
    updateCurrentData(data) {
      this.currentData = data;
    },
    openDeleteDialog(data) {
      this.updateCurrentData(data);
      this.deleteState = true;
    },
    openEditDialog(data) {
      this.updateCurrentData(data);
      this.editState = true;
    },
    openDetailDialog(data) {
      this.updateCurrentData(data);
      this.detailState = true;
    },
    remove(confirm) {
      if (confirm) {
        PersonalService.delete(this.currentData.id).then((data) => {
          if (data) {
            this.$delete(this.personal, this.search());
            this.success("Personal eliminado!");
          } else {
            this.warning("No se puedo eliminar");
          }
        });
      }
      this.deleteState = false;
    },
  },
  mounted() {
    PersonalService.getPersonal(this.user.establecimiento.id).then(
      (data) => {
        this.personal = data;
        this.loading = false;
      },
      () => {
        this.error("Error al cargar personal");
        this.loading = false;
      }
    );
  },
  computed: {
    filterByName() {
      return this.personal.filter((person) =>
        (person.nombre + " " + person.apellido_paterno).toLowerCase().includes(this.filter.toLowerCase())
      );
    },
  },
};
</script>

<style>
</style>