<template>
  <div id="Home" class="gradient">
    <v-container fluid class="full-page">
      <v-row justify="center" class="mt-md-16">
        <v-col cols="12" md="6">
          <v-card class="pa-8 rounded-xl" elevation="24">
            <v-row>
              <v-col cols="12">
                <div
                  class="d-flex justify-center pb-4"
                  style="font-size: 2rem !important"
                >
                  <v-img :src="require('../assets/logo.png')" max-width="150"> </v-img>
                </div>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row class="mt-4">
              <v-col cols="12" md="6">
                <v-btn
                  class="primary-button pb-12 pt-12"
                  @click="$router.push({ name: 'ClientePage' }).catch(() => {})"
                  block
                  dark
                  depressed
                  x-large
                  style="height: 100% !important"
                >
                  locales
                </v-btn>
              </v-col>
              <v-col cols="12" md="6">
                <v-btn class="primary-text pb-12 pt-12" block outlined x-large @click="$router.push({ name: 'Login' })">
                  Iniciar sesión
                </v-btn>
                <v-btn
                  class="primary-text pb-12 pt-12 mt-4"
                  block
                  outlined
                  x-large
                  @click="$router.push({ name: 'Register' })"
                >
                  Registrarse
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.primary-text {
  color: $base-two !important;
}
.primary-button {
  background: $base-two !important;
}
.gradient {
  background: linear-gradient(
    45deg,
    rgba($base-one, 0.9) 0%,
    rgba($base-two, 0.9) 100%
  ) !important;
}
.full-page {
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4) !important;
}
</style>