<template>
  <div>
    <!-- toolbar para pantallas grandes-->
    <v-toolbar color="c-gradient" flat>
      <span class="hidden-sm-and-up">
        <v-app-bar-nav-icon @click="sidebar = !sidebar"></v-app-bar-nav-icon>
      </span>
      <v-toolbar-title class="hidden-xs-only text-button">
        <router-link to="/" custom v-slot="{ navigate }">
          <span
            @click="navigate"
            @keypress.enter="navigate"
            role="link"
            style="color: white; cursor: pointer"
            >{{ appTitle }}</span
          >
        </router-link>
      </v-toolbar-title>
      <v-toolbar-items class="hidden-xs-only ml-6">
        <v-btn
          link
          v-for="item in menuItems"
          :key="item.title"
          @click="$router.push({ name: item.path }).catch(() => {})"
          text
        >
          <v-icon left color="white">{{ item.icon }}</v-icon>
          <span class="textWhite">{{ item.title }}</span>
        </v-btn>
      </v-toolbar-items>

      <v-spacer></v-spacer>
      <!-- menu para ver opción ir a perfil de usuario y cerrar sesión-->
      <v-menu
        v-if="currentUser != null"
        v-model="menu"
        :close-on-content-click="false"
        :nudge-width="200"
        offset-y
        @click="menu = true"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon class="hidden-xs-only">
            <v-avatar style="color: white !important">
              <v-icon> mdi-account-circle </v-icon>
            </v-avatar>
          </v-btn>
        </template>
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <v-icon> mdi-account-circle </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                  >{{ dataUser.nombre }}
                  {{ dataUser.apellido_paterno }}</v-list-item-title
                >
                <v-list-item-subtitle>{{
                  currentUser.user.email
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>
          <v-spacer></v-spacer>
          <v-list>
            <v-list-item-group
              active-class="deep-purple--text text--accent-4"
              color="deep-purple"
            >
              <v-list-item
                v-if="currentUser.user.type != 2"
                link
                @click="
                  $router
                    .push({
                      name: 'Propietario.Inicio',
                    })
                    .catch(() => {})
                "
              >
                <v-list-item-title>Administración</v-list-item-title>
              </v-list-item>
              <v-list-item
                link
                @click="
                  $router
                    .push({
                      name: 'Cliente.Perfil',
                    })
                    .catch(() => {})
                "
              >
                <v-list-item-title>Mi perfil</v-list-item-title>
              </v-list-item>
              <v-list-item
                v-if="currentUser.user.type == 2"
                link
                @click="
                  $router
                    .push({
                      name: 'Cliente.Reservas',
                    })
                    .catch(() => {})
                "
              >
                <v-list-item-title>Reservas</v-list-item-title>
              </v-list-item>
            </v-list-item-group>
          </v-list>
          <v-spacer></v-spacer>
          <v-divider></v-divider>
          <v-card-actions class="d-fles justify-center">
            <div class="pa-0">
              <v-btn color="deep-purple darken-1" text @click="logout()" link>
                Cerrar sesión
              </v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-toolbar>

    <v-main>
      <v-container fluid class="grey lighten-5 full-page">
        <transition name="slide-fade" mode="out-in">
          <router-view />
        </transition>
      </v-container>

      <ClientFooter />
    </v-main>
  </div>
</template>

<script>
import notificationMixinVue from "../../mixins/notification.mixin.vue";
import ClientFooter from "../../components/footers/ClientFooter.vue";
export default {
  components: {
    ClientFooter,
  },
  name: "Cliente",
  mixins: [notificationMixinVue],
  data: function () {
    return {
      appTitle: "Tu estilo",
      sidebar: false,
      menu: false,
      dataUser: "",
      menuItems: [
        {
          title: "Inicio",
          path: "Cliente.Inicio",
          name: "/inicio",
          icon: "mdi-home",
        },
        {
          title: "Tiendas",
          path: "Cliente.Tiendas",
          name: "/tiendas",
          icon: "mdi-store",
        },
        //{title: "Iniciar sesión", path: "Cliente.Inicio", icon: "mdi-lock-open", },
      ],
    };
  },
  created: function () {
    if (this.currentUser != null) {
      switch (this.currentUser.user.type) {
        case 1:
          this.dataUser = this.currentUser.user.propietario;
          break;
        case 2:
          this.dataUser = this.currentUser.user.cliente;
          break;
        case 3:
          this.dataUser = this.currentUser.user.personal;
          break;
      }
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout").then(
        () => {
          this.success("Se ha cerrado sesion correctamente!");
          this.$router.push({ name: "Inicio" }).catch(() => {});
        },
        () => {
          this.error("Ha ocurrido un error");
        }
      );
    },
  },
};
</script>
<style lang="scss">
.full-page {
  min-height: 100vh;
}
.slide-fade-enter-active {
  transition: all 0.1s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.textWhite {
  color: white;
}
.c-primary-button {
  background: $base-one !important;
}

.c-primary-text {
  color: $base-one !important;
}
.c-gradient {
  background: linear-gradient(
    188deg,
    rgba($base-one, 0.9) 0%,
    rgba($base-two, 0.9) 70%
  ) !important;
}
</style>