<template>
  <v-card class="pa-8 text-center rounded-xl" elevation="24">
    <v-progress-circular
      indeterminate
      color="primary"
      size="100"
    ></v-progress-circular>
  </v-card>
</template>

<script>
export default {
  name: "CircularLoader",
};
</script>

<style>
</style>