<template>
  <v-footer padless height="auto">
    <v-row>
      <v-col cols="12" class="text-center">
        <v-card flat tile>
          <v-card-content>
            <div class="text-button">TUESTILO</div>
            <div class="text-overline">
              Servicio al cliente - <v-icon size="20px" class="mr-2"> fab fa-whatsapp </v-icon>
              <a href="https://api.whatsapp.com/send?phone=+56932976983"
                >+56932976983</a
              >
            </div>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "AdminFooter",
};
</script>

<style>
</style>