<template>
  <v-footer padless app>
    <v-row>
      <v-col cols="12" class="text-center">
        <v-card flat tile dark class="c-gradient">
          <v-card-content>
            <v-card-text class="ma-0 pa-0 pb-2 pt-2">
              <v-btn
                icon
                href="https://api.whatsapp.com/send?phone=+56932976983"
              >
                <v-icon size="24px"> fab fa-whatsapp </v-icon>
              </v-btn>
              <v-btn icon href="https://www.facebook.com/sircharlesito">
                <v-icon size="24px"> fab fa-facebook </v-icon>
              </v-btn>
              <v-btn icon href="https://www.instagram.com/vale_rx/">
                <v-icon size="24px"> fab fa-instagram </v-icon>
              </v-btn>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-text class="ma-0 pa-0 pt-2">
              <div class="text-overline">2021 - TUESTILO</div>
            </v-card-text>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "ClientFooter",
};
</script>

<style>
</style>