<template>
  <div>
    <v-navigation-drawer app permanent class="gradient">
      <v-list-item dark>
        <v-list-item-content>
          <v-list-item-title
            @click="$router.push({ name: 'Inicio' }).catch(() => {})"
            class="text-overline text-center"
            style="font-size: 1.2rem !important"
          >
            <span style="cursor: pointer">TuEstilo</span>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item-group color="white" dark>
          <v-list-item
            link
            :class="
              'Propietario.Inicio' === $route.name ? 'v-list-item--active' : ''
            "
            @click="
              $router.push({ name: 'Propietario.Inicio' }).catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Inicio</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :class="
              'Propietario.Establecimiento' === $route.name
                ? 'v-list-item--active'
                : ''
            "
            @click="
              $router
                .push({ name: 'Propietario.Establecimiento' })
                .catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-home-city</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Establecimiento</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :disabled="!hasEstablecimiento() || !establecimientoIsActive()"
            :class="
              'Propietario.Materiales' === $route.name
                ? 'v-list-item--active'
                : ''
            "
            @click="
              $router.push({ name: 'Propietario.Materiales' }).catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-package</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Materiales</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :disabled="!hasEstablecimiento() || !establecimientoIsActive()"
            :class="
              'Propietario.Servicios' === $route.name
                ? 'v-list-item--active'
                : ''
            "
            @click="
              $router.push({ name: 'Propietario.Servicios' }).catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-content-cut</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Servicios</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :disabled="!hasEstablecimiento() || !establecimientoIsActive()"
            :class="
              'Propietario.Personal' === $route.name
                ? 'v-list-item--active'
                : ''
            "
            @click="
              $router.push({ name: 'Propietario.Personal' }).catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-account-multiple</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Personal</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :disabled="!hasEstablecimiento() || !establecimientoIsActive()"
            :class="
              'Propietario.Ventas' === $route.name ? 'v-list-item--active' : ''
            "
            @click="
              $router.push({ name: 'Propietario.Ventas' }).catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-currency-usd</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Ventas</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :disabled="!hasEstablecimiento() || !establecimientoIsActive()"
            :class="
              'Propietario.Reservas' === $route.name
                ? 'v-list-item--active'
                : ''
            "
            @click="
              $router.push({ name: 'Propietario.Reservas' }).catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-calendar</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Reservas</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :class="
              'Propietario.Cuenta' === $route.name ? 'v-list-item--active' : ''
            "
            @click="
              $router.push({ name: 'Propietario.Cuenta' }).catch(() => {})
            "
          >
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-overline"
                >Cuenta</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn color="black" block plain @click="logout()">
            <v-icon left> mdi-exit-to-app </v-icon>
            Cerrar sesión
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-main>
      <v-container fluid class="grey lighten-5 full-page body-background">
        <transition name="slide-fade" mode="out-in">
          <router-view />
        </transition>
      </v-container>

      <AdminFooter />
    </v-main>
  </div>
</template>

<script>
import notificationMixinVue from "../../mixins/notification.mixin.vue";
import UserMixin from "../../mixins/user.mixin";
import AdminFooter from "../../components/footers/AdminFooter";
export default {
  name: "Propietario",
  components: {
    AdminFooter,
  },
  mixins: [UserMixin, notificationMixinVue],
  data() {
    return {
      overlay: true,
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout").then(
        () => {
          this.success("Se ha cerrado sesion correctamente!");
          this.$router.push({ name: "Inicio" }).catch(() => {});
        },
        () => {
          this.error("Ha ocurrido un error");
        }
      );
    },
  },
};
</script>

<style lang="scss">
.full-page {
  min-height: 100vh;
}
.slide-fade-enter-active {
  transition: all 0.1s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.body-background {
  background: $base-background !important;
}

.gradient {
  background: linear-gradient(
    45deg,
    rgba($base-one, 0.9) 0%,
    rgba($base-two, 0.9) 100%
  ) !important;
}

.primary-button {
  background: $base-two !important;
}

.primary-text {
  color: $base-two !important;
}
.primary-button-icon {
  color: $base-two !important;
}
.secondary-button {
  background: $base-one !important;
}
.secondary-button-light {
  background: rgba(darken($base-one, 10), 0.6) !important;
}
.secondary-button-icon {
  color: $base-one !important;
}
</style>