<template>
  <v-dialog v-if="dialog" v-model="dialog" width="800" @click:outside="close">
    <v-card>
      <v-card-title>
        <span
          class="text-button c-primary-text"
          style="font-size: 1.2rem !important"
        >
          <div>Agendar hora</div>
        </span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-combobox
            v-model="servicios"
            :items="catalogo"
            :rules="multipleRule('Servicios')"
            label="Seleccionar servicios"
            outlined
            :item-text="(item) => item.nombre"
            :item-value="(item) => item"
            :return-object="false"
            multiple
            @change="reiniciar_formulario"
          ></v-combobox>
          <v-select
            v-model="fecha"
            :items="fechas"
            :disabled="servicios.length == 0 || loading"
            :rules="requiredRule('Fecha')"
            label="Seleccionar fecha"
            outlined
            @change="obtener_horas"
          ></v-select>
          <v-select
            v-model="hora"
            :items="horas_disponibles"
            :rules="requiredRule('Hora')"
            :loading="loading"
            :disabled="horas_disponibles.length == 0 || loading"
            :item-text="(item) => item.hora_inicio + ' - ' + item.hora_fin"
            :item-value="(item) => item"
            label="Seleccionar hora"
            outlined
          ></v-select>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close" class="c-primary-text"> Cancelar </v-btn>
        <v-btn dark depressed @click="submit" class="c-primary-button">
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import notificationMixin from "../../mixins/notification.mixin.vue";
import UserMixin from "../../mixins/user.mixin.vue";
import ServiciosService from "../../services/servicios.service";
import Validaciones from "../../mixins/validaciones.mixin.vue";

export default {
  name: "AgendarHoraDialog",
  mixins: [UserMixin, notificationMixin, Validaciones],
  props: {
    dialog: Boolean,
    servicio: Object,
    catalogo: Array,
  },
  data() {
    return {
      fechas: [],
      horas_disponibles: [],
      servicios: [],
      fecha: "",
      hora: "",
      loading: false,
    };
  },
  methods: {
    close() {
      this.$emit("close", false);
    },
    generar_fechas() {
      var fecha_actual = new Date();
      for (let index = 0; index < 30; index++) {
        if (index == 0) {
          fecha_actual.setDate(fecha_actual.getDate());
        } else {
          fecha_actual.setDate(fecha_actual.getDate() + 1);
        }
        var nueva_fecha = fecha_actual.toISOString().split("T")[0];
        this.fechas.push(nueva_fecha);
      }
    },
    reiniciar_formulario() {
      this.fecha = "";
      this.hora = "";
    },
    obtener_horas() {
      this.loading = true;
      this.hora = "";

      var aux_servicios = [];

      this.servicios.forEach((element) => {
        aux_servicios.push(element.id);
      });

      var data = {
        fecha: this.fecha,
        servicios: aux_servicios,
      };

      ServiciosService.getHoras(data).then((data) => {
        this.horas_disponibles = data;
        this.loading = false;
      });
    },
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        var aux_servicios = [];

        this.servicios.forEach((element) => {
          aux_servicios.push(element.id);
        });

        var data = {
          hora_inicio: this.hora.hora_inicio,
          hora_fin: this.hora.hora_fin,
          usuario: this.user.id,
          fecha: this.fecha,
          servicios: aux_servicios,
        };

        ServiciosService.reservarHora(data).then(
          (data) => {
            switch (data.estado) {
              case 201:
                this.success(data.mensaje);
                break;
              case 401:
                this.warning(data.mensaje);
                break;
              case 402:
                this.error(data.mensaje);
                break;
            }
            this.close();
          },
          () => {
            this.error("Error al realizar una reserva");
          }
        );
      } else {
        this.error("Formulario invalido");
      }
    },
  },
  created() {
    this.servicios = [this.servicio];
  },
  mounted() {
    this.generar_fechas();
  },
};
</script>

<style>
</style>