<template>
  <v-dialog v-if="dialog" v-model="dialog" width="500" @click:outside="close">
    <v-card>
      <div class="text-button text-center pa-8">
        {{ message }}
      </div>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="confirm(false)" class="primary-button-icon">
          Cancelar
        </v-btn>
        <v-btn dark depressed @click="confirm(true)" class="primary-button">
          Confirmar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DeleteDialog",
  props: {
    message: String,
    dialog: Boolean,
  },
  methods: {
    confirm(value) {
      if (value) {
        this.$emit("confirm", true);
      } else {
        this.$emit("confirm", false);
      }
    },
    close(){
        this.$emit('close', false);
    }
  },
};
</script>

<style>
</style>