<template>
  <v-dialog v-model="dialog" width="800" @click:outside="close">
    <v-card>
      <v-card-title>
        <span
          class="text-button primary-text"
          style="font-size: 1.2rem !important"
        >
          <div v-if="isEdit">Editar Establecimiento</div>
          <div v-else>Agregar Establecimiento</div>
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form ref="form" lazy-validation>
            <v-row>
              <!-- Start. Datos del establecimiento -->
              <v-col cols="12">
                <div class="text-button">Información del establecimiento</div>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Nombre"
                  :rules="requiredRule('nombre')"
                  v-model="establecimiento.nombre"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Capacidad diaria"
                  type="number"
                  min="0"
                  :rules="integerRule('capacidad')"
                  v-model="establecimiento.capacidad_diaria"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Capacidad"
                  type="number"
                  min="0"
                  :rules="integerRule('capacidad')"
                  v-model="establecimiento.capacidad"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Telefóno"
                  v-model="establecimiento.telefono"
                  counter="9"
                  :rules="phoneRule('telefono')"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  :loading="tipos_establecimientos.length == 0"
                  label="Tipo de establecimiento"
                  :items="tipos_establecimientos"
                  item-text="tipo"
                  item-value="id"
                  :rules="requiredRule('tipo de establecimiento')"
                  v-model="establecimiento.tipo_establecimiento_id"
                ></v-select>
              </v-col>
              <v-col cols="12" v-if="!editImg">
                <v-file-input
                  v-model="establecimiento.img"
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="Imagen"
                  :rules="imgRule('imagen')"
                  required
                ></v-file-input>
              </v-col>
              <v-col cols="12" v-else>
                <v-alert
                  color="pink lighten-1"
                  dense
                  text
                  class="rounded-xl pa-4"
                >
                  <v-row class="pr-2 pt-2">
                    <v-spacer></v-spacer>
                    <v-btn
                      icon
                      @click="
                        establecimiento.img = [];
                        editImg = false;
                      "
                    >
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-img
                        class="white--text align-end"
                        width="200"
                        max-height="200"
                        :src="img(establecimiento.img)"
                      >
                      </v-img>
                    </v-col>
                  </v-row>
                </v-alert>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  label="Descripción"
                  v-model="establecimiento.descripcion"
                  counter="255"
                  :rules="descriptionRule('descripcion')"
                  required
                ></v-textarea>
              </v-col>
              <!-- End. Datos del establecimiento -->

              <!-- Start. Datos horario -->
              <v-col cols="12">
                <div class="text-button">Horario</div>
              </v-col>
              <v-col cols="12">
                <v-row justify="space-around" align="center">
                  <v-col style="width: 350px; flex: 0 1 auto;">
                    <div class="text-overline">Hora inicio</div>
                    <v-time-picker v-model="establecimiento.hora_inicio" :max="establecimiento.hora_fin"></v-time-picker>
                  </v-col>
                  <v-col style="width: 350px; flex: 0 1 auto;">
                    <div class="text-overline">Hora fin</div>
                    <v-time-picker v-model="establecimiento.hora_fin" :min="establecimiento.hora_inicio"></v-time-picker>
                  </v-col>
                </v-row>
              </v-col>
              <!-- End. Datos horario -->
              
              <!-- Start. Datos de dirección -->
              <v-col cols="12" class="mt-4">
                <div class="text-button">Dirección del establecimiento</div>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Calle"
                  v-model="establecimiento.direccion.nombre"
                  :rules="requiredRule('calle')"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Número"
                  v-model="establecimiento.direccion.numero"
                  :rules="requiredRule('numero de calle')"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Ciudad"
                  v-model="establecimiento.direccion.ciudad"
                  disabled
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Región"
                  v-model="establecimiento.direccion.region"
                  disabled
                ></v-text-field>
              </v-col>
              <!-- End. Datos de dirección -->
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close" class="primary-button-icon">
          Cancelar
        </v-btn>
        <v-btn dark depressed @click="submit" class="primary-button">
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import EstablecimientoService from "../../services/establecimiento.service";
import { API_IMG } from "../../helpers/_api";
import NotificationMixin from "../../mixins/notification.mixin";
import Validaciones from "../../mixins/validaciones.mixin.vue";

export default {
  name: "EstablecimientoFormDialog",
  mixins: [NotificationMixin, Validaciones],
  props: {
    dialog: Boolean,
    isEdit: Boolean,
    data: Object,
    id: Number,
  },
  data() {
    return {
      tipos_establecimientos: [],
      editImg: false,
      establecimiento: {
        nombre: "",
        capacidad: 0,
        capacidad_diaria: 0,
        telefono: "",
        descripcion: "",
        tipo_establecimiento_id: 0,
        propietario_id: this.id,
        hora_inicio: "",
        hora_fin: "",
        img: [],
        direccion: {
          nombre: "",
          numero: "",
          ciudad: "Temuco",
          region: "La Araucanía",
        },
      },
    };
  },
  methods: {
    img(img) {
      return API_IMG(img);
    },
    close() {
      this.$emit("close", false);
    },
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        if (this.isEdit) {
          EstablecimientoService.update(this.toFormData(), this.data.id).then(
            (data) => {
              this.$emit("updateData", data);
              this.success("Establecimiento editado!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        } else {
          EstablecimientoService.store(this.toFormData()).then(
            (data) => {
              this.$emit("updateData", data);
              this.success("Establecimiento agregado!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        }
      } else {
        this.error("Formulario invalido");
      }
    },
    toFormData() {
      var formData = new FormData();
      formData.append("nombre", this.establecimiento.nombre);
      formData.append("capacidad", this.establecimiento.capacidad);
      formData.append("capacidad_diaria", this.establecimiento.capacidad_diaria);
      formData.append("telefono", this.establecimiento.telefono);
      formData.append("descripcion", this.establecimiento.descripcion);
      formData.append("hora_inicio", this.establecimiento.hora_inicio);
      formData.append("hora_fin", this.establecimiento.hora_fin);
      formData.append(
        "tipo_establecimiento_id",
        this.establecimiento.tipo_establecimiento_id
      );
      formData.append("propietario_id", this.establecimiento.propietario_id);
      formData.append("img", this.establecimiento.img);
      formData.append("editImg", this.editImg);
      formData.append(
        "direccion",
        JSON.stringify({
          nombre: this.establecimiento.direccion.nombre,
          numero: this.establecimiento.direccion.numero,
          ciudad: this.establecimiento.direccion.ciudad,
          region: this.establecimiento.direccion.region,
        })
      );

      return formData;
    },
    updateData() {
      this.establecimiento.nombre = this.data.nombre;
      this.establecimiento.capacidad_diaria = this.data.capacidad_diaria;
      this.establecimiento.capacidad = this.data.capacidad;
      this.establecimiento.hora_inicio = this.data.hora_inicio;
      this.establecimiento.hora_fin = this.data.hora_fin;
      this.establecimiento.telefono = this.data.telefono;
      this.establecimiento.descripcion = this.data.descripcion;
      this.establecimiento.tipo_establecimiento_id =
        this.data.tipo_establecimiento.id;
      this.establecimiento.propietario_id = this.data.propietario_id;

      this.establecimiento.direccion.nombre = this.data.direccion.nombre;
      this.establecimiento.direccion.numero = this.data.direccion.numero;
      this.establecimiento.direccion.ciudad = this.data.direccion.ciudad;
      this.establecimiento.direccion.region = this.data.direccion.region;
      this.establecimiento.img = this.data.img;
    },
  },
  mounted() {
    if (this.isEdit) {
      this.updateData();
      this.editImg = true;
    }
    EstablecimientoService.getTiposEstablecimientos().then(
      (data) => {
        this.tipos_establecimientos = data;
      },
      () => {
        this.error("Ha ocurrido al cargar categorias");
      }
    );
  },
};
</script>

<style>
</style>