<template>
  <v-dialog v-model="dialog" width="800" @click:outside="close">
    <v-card>
      <v-card-title>
        <span
          class="text-button primary-text"
          style="font-size: 1.2rem !important"
        >
          <div v-if="isEdit">Editar Material</div>
          <div v-else>Agregar Material</div>
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form ref="form" lazy-validation>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Nombre"
                  v-model="material.nombre"
                  :rules="requiredRule('nombre')"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Cantidad"
                  type="number"
                  min="0"
                  v-model="material.cantidad"
                  :rules="integerRule('cantidad')"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  :loading="categorias.length == 0"
                  label="Categoria del material"
                  :items="categorias"
                  item-text="categoria"
                  item-value="id"
                  v-model="material.categoria_material_id"
                  :rules="requiredRule('categoria')"
                  required
                ></v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close" class="primary-button-icon">
          Cancelar
        </v-btn>
        <v-btn dark depressed @click="submit" class="primary-button">
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import MaterialesServices from "../../services/materiales.service";
import NotificationMixin from "../../mixins/notification.mixin";
import Validaciones from "../../mixins/validaciones.mixin.vue";

export default {
  name: "MaterialesFormDialog",
  mixins: [NotificationMixin, Validaciones],
  props: {
    dialog: Boolean,
    isEdit: Boolean,
    data: Object,
    idEstablecimiento: Number,
  },
  data() {
    return {
      categorias: [],
      material: {
        nombre: "",
        cantidad: 0,
        categoria_material_id: 0,
      },
    };
  },
  methods: {
    close() {
      this.$emit("close", false);
    },
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        if (this.isEdit) {
          MaterialesServices.update(this.material, this.data.id).then(
            (data) => {
              this.$emit("editData", data);
              this.success("Material editado!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        } else {
          MaterialesServices.store(this.material, this.idEstablecimiento).then(
            (data) => {
              this.$emit("updateData", data);
              this.success("Material agregado!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        }
      } else {
        this.error("Formulario invalido");
      }
    },
    updateData() {
      this.material.nombre = this.data.nombre;
      this.material.cantidad = this.data.cantidad;
      this.material.categoria_material_id = this.data.categoria_material_id;
    },
  },
  mounted() {
    if (this.isEdit) {
      this.updateData();
    }
    MaterialesServices.getCategorias().then(
      (data) => {
        this.categorias = data;
      },
      () => {
        this.error("Ha ocurrido al cargar categorias");
      }
    );
  },
};
</script>

<style>
</style>