<template>
  <v-dialog v-model="dialog" width="800" @click:outside="close">
    <v-card>
      <!-- Start. Card title -->
      <v-card-title>
        <span
          class="text-button primary-text"
          style="font-size: 1.2rem !important"
        >
          <div>Información personal</div>
        </span>
      </v-card-title>
      <!-- End. Card title -->

      <!-- Start. Card body -->
      <v-card-text>
        <v-container>
          <div class="pa-4">
            <div class="text-button">nombre completo</div>
            <div class="text-overline ml-2">
              {{ data.nombre }} {{ data.apellido_paterno }}
              {{ data.apellido_materno }}
            </div>
            <div class="text-button">Rut</div>
            <div class="text-overline ml-2">{{ data.rut }}</div>
            <div class="text-button">Telefono</div>
            <div class="text-overline ml-2">{{ data.telefono }}</div>
            <div class="text-button">Especialidad</div>
            <div class="text-overline ml-2">{{ data.especialidad }}</div>
            <div class="text-button">Correo electronico</div>
            <div class="text-overline ml-2">{{ data.user.email }}</div>
          </div>
        </v-container>
      </v-card-text>
      <!-- End. Card body -->

      <!-- Start. Card footer -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn dark depressed class="primary-button" @click="close">
          Cerrar
        </v-btn>
      </v-card-actions>
      <!-- End. Card title -->
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "PersonalDetail",
  props: {
    dialog: Boolean,
    data: Object,
  },
  methods: {
    close() {
      this.$emit("close", false);
    },
  },
};
</script>

<style>
</style>