<template>
  <v-dialog v-model="dialog" width="800" @click:outside="close">
    <Loader v-if="loading"></Loader>
    <div v-else>
      <v-card v-if="servicios.length != 0">
        <v-card-title>
          <span
            class="text-button primary-text"
            style="font-size: 1.2rem !important"
          >
            <div v-if="isEdit">Editar Venta</div>
            <div v-else>Agregar Venta</div>
          </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    readonly
                    label="Vendedor"
                    v-model="venta.rut_vendedor"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    multiple
                    label="Servicio"
                    :items="servicios"
                    item-text="nombre"
                    v-model="venta.servicios"
                    :rules="multipleRule('servicio')"
                    return-object
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    readonly
                    label="Total"
                    v-model="suma"
                    :value="suma"
                    prepend-icon="mdi-currency-usd"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    label="Metodo de pago"
                    :items="pagos"
                    v-model="venta.metodo_pago"
                    :rules="requiredRule('metodo de pago')"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    readonly
                    label="Fecha de venta"
                    v-model="venta.fecha_venta"
                    prepend-icon="mdi-calendar"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="close" class="primary-button-icon">
            Cancelar
          </v-btn>
          <v-btn dark depressed @click="submit" class="primary-button">
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card v-else>
        <div class="pa-8 text-button text-center">
          Es necesario agregar servicios al establecimiento para poder ingresar
          una venta.
        </div>
      </v-card>
    </div>
  </v-dialog>
</template>

<script>
import ServiciosService from "../../services/servicios.service";
import NotificationMixin from "../../mixins/notification.mixin";
import ventasService from "../../services/ventas.service";
import UserMixin from "../../mixins/user.mixin";
import validacionesMixin from "../../mixins/validaciones.mixin.vue";
import Loader from "../loaders/circular";

export default {
  name: "VentasFormDialog",
  mixins: [UserMixin, NotificationMixin, validacionesMixin],
  components: {
    Loader,
  },
  props: {
    dialog: Boolean,
    isEdit: Boolean,
    data: Object,
    idEstablecimiento: Number,
  },
  data() {
    return {
      servicios: [],
      loading: true,
      pagos: ["Efectivo", "Debito", "Transferencia"],
      venta: {
        total: 0,
        servicios: [],
        metodo_pago: "",
        rut_vendedor: "",
        fecha_venta: "",
      },
    };
  },
  computed: {
    suma() {
      var total = this.venta.servicios.reduce(
        (acc, item) => acc + item.precio,
        0
      );
      return total;
    },
  },
  methods: {
    setPrice(item) {
      this.venta.total = this.servicios[this.search(item)].precio;
    },
    search(id) {
      let obj = this.servicios.find((x) => x.id === id);
      let index = this.servicios.indexOf(obj);
      return index;
    },
    getRut() {
      if (this.user.propietario != null) {
        this.venta.rut_vendedor = this.user.propietario.rut;
      } else {
        this.venta.rut_vendedor = this.user.personal.rut;
      }
    },
    close() {
      this.$emit("close", false);
    },
    submit() {
      this.venta.total = this.suma;
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        if (this.isEdit) {
          ventasService.update(this.venta, this.data.id).then(
            (data) => {
              this.$emit("editData", data);
              this.success("Venta editada!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        } else {
          ventasService.store(this.venta, this.idEstablecimiento).then(
            (data) => {
              this.$emit("updateData", data);
              this.success("Venta agregada!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        }
      } else {
        this.error("Formulario invalido");
      }
    },
    updateData() {
      this.venta.servicios = this.data.servicios;
      this.venta.total = this.data.total;
      this.venta.fecha_venta = this.data.fecha_venta;
      this.venta.rut_vendedor = this.data.rut_vendedor;
      this.venta.metodo_pago = this.data.metodo_pago;
    },
  },
  mounted() {
    this.getRut();
    this.venta.fecha_venta = this.$moment().format("YYYY-MM-DD hh:mm:ss");
    if (this.isEdit) {
      this.updateData();
    }
    ServiciosService.getServicios(this.idEstablecimiento).then(
      (data) => {
        console.log(data);
        this.servicios = data;
        this.loading = false;
      },
      () => {
        this.loading = false;
        this.error("Ha ocurrido al cargar categorias");
      }
    );
  },
};
</script>

<style>
</style>