<template>
  <div class="pa-8">
    <v-row>
      <v-col cols="12" align="end" class="mb-2">
        <v-btn icon @click="logout()">
          <v-icon>mdi-exit-to-app</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <div>
      <Loader v-if="loadingSolicitudes"></Loader>
      <div v-else>
        <v-card
          class="rounded-xl pa-8"
          elevation="24"
          v-if="solicitudes.length != 0"
        >
          <div class="text-button">Solicitudes</div>

          <v-text-field
            placeholder="Buscar"
            append-icon="mdi-magnify"
            outlined
            hide-details
            v-model="filter_solicitudes"
          ></v-text-field>

          <v-simple-table>
            <thead>
              <tr>
                <th class="text-left">ID</th>
                <th class="text-left">ID_ESTABLECIMIENTO</th>
                <th class="text-left">Est. Nombre</th>
                <th class="text-left">Plan</th>
                <th class="text-left">Dias</th>
                <th class="text-left">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in filterSolicitudes" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.establecimiento_id }}</td>
                <td>{{ item.establecimiento.nombre }}</td>
                <td>{{ item.plan.nombre }}</td>
                <td>{{ item.plan.dias }}</td>
                <td>
                  <v-btn icon color="success" @click="aprobar(item.id, index)">
                    <v-icon>mdi-check</v-icon>
                  </v-btn>
                  <v-btn icon color="error" @click="rechazar(item.id, index)">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-card>
        <v-card class="rounded-xl pa-8" elevation="24" v-else>
          <div class="text-button text-center">
            No existen solicitudes actuales.
          </div>
        </v-card>
      </div>
    </div>
    <div class="mt-8">
      <Loader v-if="loadingEstablecimientos"></Loader>
      <div v-else>
        <v-card
          class="rounded-xl pa-8"
          elevation="24"
          v-if="establecimientos.length != 0"
        >
          <div class="text-button">Establecimientos con plazo vencido</div>
          <div class="text-start text-caption font-italic mt-2 mb-2">
            Fecha actual: {{ new Date() | moment("DD-MM-YYYY") }}
          </div>

          <v-text-field
            placeholder="Buscar"
            append-icon="mdi-magnify"
            outlined
            hide-details
            v-model="filter_establecimiento"
          ></v-text-field>

          <v-simple-table>
            <thead>
              <tr>
                <th class="text-left">ID_ESTABLECIMIENTO</th>
                <th class="text-left">Est. Nombre</th>
                <th class="text-left">Estado</th>
                <th class="text-left">Duracion plan</th>
                <th class="text-left">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in filterEstablecimientos" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td class="text-uppercase">
                  <span v-if="item.estado == 1">Activo</span>
                  <span v-else>Inactivo</span>
                </td>
                <td>{{ item.duracion_plan | moment("DD-MM-YYYY") }}</td>
                <td>
                  <v-btn icon color="error" @click="desactivar(item.id, index)">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-card>
        <v-card class="rounded-xl pa-8" elevation="24" v-else>
          <div class="text-button text-center">
            Actualmente no existen establecimientos con el plazo vencido.
          </div>
        </v-card>
      </div>
    </div>
    <div class="mt-8">
      <Loader v-if="loadingEstablecimientosPremium"></Loader>
      <div v-else>
        <v-card
          class="rounded-xl pa-8"
          elevation="24"
          v-if="establecimientos_premium.length != 0"
        >
          <div class="text-button">Premiums con plazo vencido</div>
          <div class="text-start text-caption font-italic mt-2 mb-2">
            Fecha actual: {{ new Date() | moment("DD-MM-YYYY") }}
          </div>

          <v-text-field
            placeholder="Buscar"
            append-icon="mdi-magnify"
            outlined
            hide-details
            v-model="filter_premium"
          ></v-text-field>

          <v-simple-table>
            <thead>
              <tr>
                <th class="text-left">ID_ESTABLECIMIENTO</th>
                <th class="text-left">Est. Nombre</th>
                <th class="text-left">Estado</th>
                <th class="text-left">Duracion plan</th>
                <th class="text-left">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in filterPremium"
                :key="index"
              >
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td class="text-uppercase">
                  <span v-if="item.estado == 1">Activo</span>
                  <span v-else>Inactivo</span>
                </td>
                <td>{{ item.duracion_plan | moment("DD-MM-YYYY") }}</td>
                <td>
                  <v-btn icon color="error" @click="desactivar(item.id, index)">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-card>
        <v-card class="rounded-xl pa-8" elevation="24" v-else>
          <div class="text-button text-center">
            Actualmente no existen establecimientos premiums con el plazo
            vencido.
          </div>
        </v-card>
      </div>
    </div>
    <v-overlay
      :value="loading_confirmacion"
      :absolute="true"
      :opacity="0.5"
    >
      <div class="text-overline" style="font-size: 2rem !important">Cargando</div>
    </v-overlay>
  </div>
</template>

<script>
import notificationMixinVue from "../../mixins/notification.mixin.vue";
import SolicitudesServices from "../../services/solicitudes.service";
import Loader from "../../components/loaders/circular";
export default {
  components: {
    Loader,
  },
  mixins: [notificationMixinVue],
  data() {
    return {
      solicitudes: [],
      establecimientos: [],
      establecimientos_premium: [],
      loadingSolicitudes: true,
      loadingEstablecimientos: true,
      loadingEstablecimientosPremium: true,
      filter_establecimiento: "",
      filter_solicitudes: "",
      filter_premium: "",
      loading_confirmacion: false,
    };
  },
  methods: {
    removeArray(list, index) {
      list.splice(index, 1);
    },
    aprobar(id, index) {
      this.loading_confirmacion = true;
      SolicitudesServices.aprobar(id).then(
        () => {
          this.removeArray(this.solicitudes, index);
          this.success("Se aprobo la solicitud");
          this.loading_confirmacion = false;
        },
        () => {
          this.loading_confirmacion = false;
          this.error("Error al cargar solicitudes");
        }
      );
    },
    rechazar(id, index) {
      this.loading_confirmacion = true;
      SolicitudesServices.rechazar(id).then(
        () => {
          this.removeArray(this.solicitudes, index);
          this.success("Se rechazo la solicitud");
          this.loading_confirmacion = false;
        },
        () => {
          this.loading_confirmacion = false;
          this.error("Error al cargar solicitudes");
        }
      );
    },
    desactivar(id, index) {
      SolicitudesServices.desactivarEstablecimiento(id).then(
        () => {
          this.removeArray(this.establecimientos, index);
          this.success("Se desactivo el establecimiento");
        },
        () => {
          this.error("Error al cargar solicitudes");
        }
      );
    },
    desactivarPremium(id, index) {
      SolicitudesServices.desactivarEstablecimientoPremium(id).then(
        () => {
          this.removeArray(this.establecimientos_premium, index);
          this.success("Se desactivo el servicio premium del establecimiento");
        },
        () => {
          this.error("Error al cargar solicitudes");
        }
      );
    },
    logout() {
      this.$store.dispatch("auth/logout").then(
        () => {
          this.success("Se ha cerrado sesion correctamente!");
          this.$router.push({ name: "Inicio" }).catch(() => {});
        },
        () => {
          this.error("Ha ocurrido un error");
        }
      );
    },
  },
  mounted() {
    SolicitudesServices.getSolicitudes().then(
      (data) => {
        this.solicitudes = data;
        this.loadingSolicitudes = false;
      },
      () => {
        this.error("Error al cargar solicitudes");
        this.loadingSolicitudes = false;
      }
    );

    SolicitudesServices.vencidosEstablecimientos().then(
      (data) => {
        this.establecimientos = data;
        this.loadingEstablecimientos = false;
      },
      () => {
        this.error("Error al cargar establecimientos");
        this.loadingEstablecimientos = false;
      }
    );

    SolicitudesServices.vencidosEstablecimientoPremium().then(
      (data) => {
        this.establecimientos_premium = data;
        this.loadingEstablecimientosPremium = false;
      },
      () => {
        this.error("Error al cargar establecimientos");
        this.loadingEstablecimientosPremium = false;
      }
    );
  },
  computed: {
    filterSolicitudes() {
      return this.solicitudes.filter((solicitud) =>
        solicitud.establecimiento.nombre.toLowerCase().includes(this.filter_solicitudes.toLowerCase())
      );
    },
    filterEstablecimientos() {
      return this.establecimientos.filter((establecimiento) =>
        establecimiento.nombre.toLowerCase().includes(this.filter_establecimiento.toLowerCase())
      );
    },
    filterPremium() {
      return this.establecimientos_premium.filter((establecimiento) =>
        establecimiento.nombre.toLowerCase().includes(this.filter_premium.toLowerCase())
      );
    },
  },
};
</script>

<style>
</style>